<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceMap</key>
	<array>
		<dict>
			<key>BDID</key>
			<integer>30</integer>
			<key>BoardConfig</key>
			<string>n111bap</string>
			<key>CPID</key>
			<integer>32772</integer>
			<key>Platform</key>
			<string>t8004</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>31</integer>
			<key>BoardConfig</key>
			<string>n111bdev</string>
			<key>CPID</key>
			<integer>32772</integer>
			<key>Platform</key>
			<string>t8004</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>28</integer>
			<key>BoardConfig</key>
			<string>n111sap</string>
			<key>CPID</key>
			<integer>32772</integer>
			<key>Platform</key>
			<string>t8004</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>29</integer>
			<key>BoardConfig</key>
			<string>n111sdev</string>
			<key>CPID</key>
			<integer>32772</integer>
			<key>Platform</key>
			<string>t8004</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>26</integer>
			<key>BoardConfig</key>
			<string>n121bap</string>
			<key>CPID</key>
			<integer>32772</integer>
			<key>Platform</key>
			<string>t8004</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>27</integer>
			<key>BoardConfig</key>
			<string>n121bdev</string>
			<key>CPID</key>
			<integer>32772</integer>
			<key>Platform</key>
			<string>t8004</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>24</integer>
			<key>BoardConfig</key>
			<string>n121sap</string>
			<key>CPID</key>
			<integer>32772</integer>
			<key>Platform</key>
			<string>t8004</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>25</integer>
			<key>BoardConfig</key>
			<string>n121sdev</string>
			<key>CPID</key>
			<integer>32772</integer>
			<key>Platform</key>
			<string>t8004</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>10</integer>
			<key>BoardConfig</key>
			<string>n131bap</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>11</integer>
			<key>BoardConfig</key>
			<string>n131bdev</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>8</integer>
			<key>BoardConfig</key>
			<string>n131sap</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>9</integer>
			<key>BoardConfig</key>
			<string>n131sdev</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>42</integer>
			<key>BoardConfig</key>
			<string>n140bap</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>43</integer>
			<key>BoardConfig</key>
			<string>n140bdev</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>40</integer>
			<key>BoardConfig</key>
			<string>n140sap</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>41</integer>
			<key>BoardConfig</key>
			<string>n140sdev</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>14</integer>
			<key>BoardConfig</key>
			<string>n141bap</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>15</integer>
			<key>BoardConfig</key>
			<string>n141bdev</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>12</integer>
			<key>BoardConfig</key>
			<string>n141sap</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>13</integer>
			<key>BoardConfig</key>
			<string>n141sdev</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>46</integer>
			<key>BoardConfig</key>
			<string>n142bap</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>47</integer>
			<key>BoardConfig</key>
			<string>n142bdev</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>44</integer>
			<key>BoardConfig</key>
			<string>n142sap</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>45</integer>
			<key>BoardConfig</key>
			<string>n142sdev</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>42</integer>
			<key>BoardConfig</key>
			<string>n143bap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>43</integer>
			<key>BoardConfig</key>
			<string>n143bdev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>40</integer>
			<key>BoardConfig</key>
			<string>n143sap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>41</integer>
			<key>BoardConfig</key>
			<string>n143sdev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>18</integer>
			<key>BoardConfig</key>
			<string>n144bap</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>19</integer>
			<key>BoardConfig</key>
			<string>n144bdev</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>16</integer>
			<key>BoardConfig</key>
			<string>n144sap</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>17</integer>
			<key>BoardConfig</key>
			<string>n144sdev</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>22</integer>
			<key>BoardConfig</key>
			<string>n146bap</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>23</integer>
			<key>BoardConfig</key>
			<string>n146bdev</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>20</integer>
			<key>BoardConfig</key>
			<string>n146sap</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>21</integer>
			<key>BoardConfig</key>
			<string>n146sdev</string>
			<key>CPID</key>
			<integer>32774</integer>
			<key>Platform</key>
			<string>t8006</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>46</integer>
			<key>BoardConfig</key>
			<string>n149bap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>47</integer>
			<key>BoardConfig</key>
			<string>n149bdev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>44</integer>
			<key>BoardConfig</key>
			<string>n149sap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>45</integer>
			<key>BoardConfig</key>
			<string>n149sdev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>10</integer>
			<key>BoardConfig</key>
			<string>n157bap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>11</integer>
			<key>BoardConfig</key>
			<string>n157bdev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>8</integer>
			<key>BoardConfig</key>
			<string>n157sap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>9</integer>
			<key>BoardConfig</key>
			<string>n157sdev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>14</integer>
			<key>BoardConfig</key>
			<string>n158bap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>15</integer>
			<key>BoardConfig</key>
			<string>n158bdev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>12</integer>
			<key>BoardConfig</key>
			<string>n158sap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>13</integer>
			<key>BoardConfig</key>
			<string>n158sdev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>18</integer>
			<key>BoardConfig</key>
			<string>n187bap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>19</integer>
			<key>BoardConfig</key>
			<string>n187bdev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>16</integer>
			<key>BoardConfig</key>
			<string>n187sap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>17</integer>
			<key>BoardConfig</key>
			<string>n187sdev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>22</integer>
			<key>BoardConfig</key>
			<string>n188bap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>23</integer>
			<key>BoardConfig</key>
			<string>n188bdev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>20</integer>
			<key>BoardConfig</key>
			<string>n188sap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>21</integer>
			<key>BoardConfig</key>
			<string>n188sdev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>50</integer>
			<key>BoardConfig</key>
			<string>n197bap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>51</integer>
			<key>BoardConfig</key>
			<string>n197bdev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>48</integer>
			<key>BoardConfig</key>
			<string>n197sap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>49</integer>
			<key>BoardConfig</key>
			<string>n197sdev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>54</integer>
			<key>BoardConfig</key>
			<string>n198bap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>55</integer>
			<key>BoardConfig</key>
			<string>n198bdev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>52</integer>
			<key>BoardConfig</key>
			<string>n198sap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>53</integer>
			<key>BoardConfig</key>
			<string>n198sdev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>38</integer>
			<key>BoardConfig</key>
			<string>n199ap</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>39</integer>
			<key>BoardConfig</key>
			<string>n199dev</string>
			<key>CPID</key>
			<integer>33537</integer>
			<key>Platform</key>
			<string>t8301</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>10</integer>
			<key>BoardConfig</key>
			<string>n207bap</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>11</integer>
			<key>BoardConfig</key>
			<string>n207bdev</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>8</integer>
			<key>BoardConfig</key>
			<string>n207sap</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>9</integer>
			<key>BoardConfig</key>
			<string>n207sdev</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>14</integer>
			<key>BoardConfig</key>
			<string>n208bap</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>15</integer>
			<key>BoardConfig</key>
			<string>n208bdev</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>12</integer>
			<key>BoardConfig</key>
			<string>n208sap</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>13</integer>
			<key>BoardConfig</key>
			<string>n208sdev</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>2</integer>
			<key>BoardConfig</key>
			<string>n210ap</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>3</integer>
			<key>BoardConfig</key>
			<string>n210dev</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>18</integer>
			<key>BoardConfig</key>
			<string>n217bap</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>19</integer>
			<key>BoardConfig</key>
			<string>n217bdev</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>16</integer>
			<key>BoardConfig</key>
			<string>n217sap</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>17</integer>
			<key>BoardConfig</key>
			<string>n217sdev</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>22</integer>
			<key>BoardConfig</key>
			<string>n218bap</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>23</integer>
			<key>BoardConfig</key>
			<string>n218bdev</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>20</integer>
			<key>BoardConfig</key>
			<string>n218sap</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>21</integer>
			<key>BoardConfig</key>
			<string>n218sdev</string>
			<key>CPID</key>
			<integer>33552</integer>
			<key>Platform</key>
			<string>t8310</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ProductBuildVersion</key>
	<string>16F6</string>
	<key>ProductVersion</key>
	<string>1.0</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33587984</integer>
			<integer>50365200</integer>
			<integer>134250502</integer>
			<integer>134251265</integer>
			<integer>134251280</integer>
			<integer>151027718</integer>
			<integer>151028481</integer>
			<integer>151028496</integer>
			<integer>167804934</integer>
			<integer>167805697</integer>
			<integer>167805712</integer>
			<integer>184582150</integer>
			<integer>184582913</integer>
			<integer>184582928</integer>
			<integer>201359366</integer>
			<integer>201360129</integer>
			<integer>201360144</integer>
			<integer>218136582</integer>
			<integer>218137345</integer>
			<integer>218137360</integer>
			<integer>234913798</integer>
			<integer>234914561</integer>
			<integer>234914576</integer>
			<integer>251691014</integer>
			<integer>251691777</integer>
			<integer>251691792</integer>
			<integer>268468230</integer>
			<integer>268468993</integer>
			<integer>268469008</integer>
			<integer>285245446</integer>
			<integer>285246209</integer>
			<integer>285246224</integer>
			<integer>302022662</integer>
			<integer>302023425</integer>
			<integer>302023440</integer>
			<integer>318799878</integer>
			<integer>318800641</integer>
			<integer>318800656</integer>
			<integer>335577094</integer>
			<integer>335577857</integer>
			<integer>335577872</integer>
			<integer>352354310</integer>
			<integer>352355073</integer>
			<integer>352355088</integer>
			<integer>369131526</integer>
			<integer>369132289</integer>
			<integer>369132304</integer>
			<integer>385908742</integer>
			<integer>385909505</integer>
			<integer>385909520</integer>
			<integer>402685956</integer>
			<integer>419463172</integer>
			<integer>436240388</integer>
			<integer>453017604</integer>
			<integer>469794820</integer>
			<integer>486572036</integer>
			<integer>503349252</integer>
			<integer>520126468</integer>
			<integer>637567745</integer>
			<integer>654344961</integer>
			<integer>671121414</integer>
			<integer>671122177</integer>
			<integer>687898630</integer>
			<integer>687899393</integer>
			<integer>704675846</integer>
			<integer>704676609</integer>
			<integer>721453062</integer>
			<integer>721453825</integer>
			<integer>738230278</integer>
			<integer>738231041</integer>
			<integer>755007494</integer>
			<integer>755008257</integer>
			<integer>771784710</integer>
			<integer>771785473</integer>
			<integer>788561926</integer>
			<integer>788562689</integer>
			<integer>805339905</integer>
			<integer>822117121</integer>
			<integer>838894337</integer>
			<integer>855671553</integer>
			<integer>872448769</integer>
			<integer>889225985</integer>
			<integer>906003201</integer>
			<integer>922780417</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33587984</integer>
			<integer>50365200</integer>
			<integer>134250502</integer>
			<integer>134251265</integer>
			<integer>134251280</integer>
			<integer>151027718</integer>
			<integer>151028481</integer>
			<integer>151028496</integer>
			<integer>167804934</integer>
			<integer>167805697</integer>
			<integer>167805712</integer>
			<integer>184582150</integer>
			<integer>184582913</integer>
			<integer>184582928</integer>
			<integer>201359366</integer>
			<integer>201360129</integer>
			<integer>201360144</integer>
			<integer>218136582</integer>
			<integer>218137345</integer>
			<integer>218137360</integer>
			<integer>234913798</integer>
			<integer>234914561</integer>
			<integer>234914576</integer>
			<integer>251691014</integer>
			<integer>251691777</integer>
			<integer>251691792</integer>
			<integer>268468230</integer>
			<integer>268468993</integer>
			<integer>268469008</integer>
			<integer>285245446</integer>
			<integer>285246209</integer>
			<integer>285246224</integer>
			<integer>302022662</integer>
			<integer>302023425</integer>
			<integer>302023440</integer>
			<integer>318799878</integer>
			<integer>318800641</integer>
			<integer>318800656</integer>
			<integer>335577094</integer>
			<integer>335577857</integer>
			<integer>335577872</integer>
			<integer>352354310</integer>
			<integer>352355073</integer>
			<integer>352355088</integer>
			<integer>369131526</integer>
			<integer>369132289</integer>
			<integer>369132304</integer>
			<integer>385908742</integer>
			<integer>385909505</integer>
			<integer>385909520</integer>
			<integer>402685956</integer>
			<integer>419463172</integer>
			<integer>436240388</integer>
			<integer>453017604</integer>
			<integer>469794820</integer>
			<integer>486572036</integer>
			<integer>503349252</integer>
			<integer>520126468</integer>
			<integer>637567745</integer>
			<integer>654344961</integer>
			<integer>671121414</integer>
			<integer>671122177</integer>
			<integer>687898630</integer>
			<integer>687899393</integer>
			<integer>704675846</integer>
			<integer>704676609</integer>
			<integer>721453062</integer>
			<integer>721453825</integer>
			<integer>738230278</integer>
			<integer>738231041</integer>
			<integer>755007494</integer>
			<integer>755008257</integer>
			<integer>771784710</integer>
			<integer>771785473</integer>
			<integer>788561926</integer>
			<integer>788562689</integer>
			<integer>805339905</integer>
			<integer>822117121</integer>
			<integer>838894337</integer>
			<integer>855671553</integer>
			<integer>872448769</integer>
			<integer>889225985</integer>
			<integer>906003201</integer>
			<integer>922780417</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>Watch3,1</string>
		<string>Watch3,2</string>
		<string>Watch3,3</string>
		<string>Watch3,4</string>
		<string>Watch4,1</string>
		<string>Watch4,2</string>
		<string>Watch4,3</string>
		<string>Watch4,4</string>
		<string>Watch5,1</string>
		<string>Watch5,10</string>
		<string>Watch5,11</string>
		<string>Watch5,12</string>
		<string>Watch5,2</string>
		<string>Watch5,3</string>
		<string>Watch5,4</string>
		<string>Watch5,9</string>
		<string>Watch6,1</string>
		<string>Watch6,10</string>
		<string>Watch6,11</string>
		<string>Watch6,12</string>
		<string>Watch6,13</string>
		<string>Watch6,14</string>
		<string>Watch6,15</string>
		<string>Watch6,16</string>
		<string>Watch6,17</string>
		<string>Watch6,18</string>
		<string>Watch6,2</string>
		<string>Watch6,3</string>
		<string>Watch6,4</string>
		<string>Watch6,6</string>
		<string>Watch6,7</string>
		<string>Watch6,8</string>
		<string>Watch6,9</string>
		<string>Watch7,1</string>
		<string>Watch7,10</string>
		<string>Watch7,11</string>
		<string>Watch7,2</string>
		<string>Watch7,3</string>
		<string>Watch7,4</string>
		<string>Watch7,5</string>
		<string>Watch7,8</string>
		<string>Watch7,9</string>
	</array>
	<key>SystemRestoreImageFileSystems</key>
	<dict/>
</dict>
</plist>
