<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceMap</key>
	<array>
		<dict>
			<key>BDID</key>
			<integer>65535</integer>
			<key>BoardConfig</key>
			<string>tvoscryptexap</string>
			<key>CPID</key>
			<integer>65296</integer>
			<key>Platform</key>
			<string>cryptex1</string>
			<key>SCEP</key>
			<integer>1</integer>
			<key>SDOM</key>
			<integer>65535</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>2</integer>
			<key>BoardConfig</key>
			<string>j105aap</string>
			<key>CPID</key>
			<integer>32785</integer>
			<key>Platform</key>
			<string>t8011</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>2</integer>
			<key>BoardConfig</key>
			<string>j255ap</string>
			<key>CPID</key>
			<integer>33040</integer>
			<key>Platform</key>
			<string>t8110</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>8</integer>
			<key>BoardConfig</key>
			<string>j305ap</string>
			<key>CPID</key>
			<integer>32800</integer>
			<key>Platform</key>
			<string>t8020</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>52</integer>
			<key>BoardConfig</key>
			<string>j42dap</string>
			<key>CPID</key>
			<integer>28672</integer>
			<key>Platform</key>
			<string>t7000</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ProductBuildVersion</key>
	<string>17A5285i</string>
	<key>ProductVersion</key>
	<string>1.0</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33587217</integer>
			<integer>33587472</integer>
			<integer>134250528</integer>
			<integer>872443904</integer>
			<integer>1099494915856</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33587217</integer>
			<integer>33587472</integer>
			<integer>134250528</integer>
			<integer>872443904</integer>
			<integer>1099494915856</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>AppleTV11,1</string>
		<string>AppleTV14,1</string>
		<string>AppleTV5,3</string>
		<string>AppleTV6,2</string>
		<string>iSim1,1</string>
	</array>
	<key>SystemRestoreImageFileSystems</key>
	<dict/>
</dict>
</plist>
