<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>2581</string>
	<key>Platform</key>
	<string>tvOS</string>
	<key>ProductBuildVersion</key>
	<string>17C529</string>
	<key>ProjectMetadata</key>
	<array>
		<dict>
			<key>Project</key>
			<string>XCTest</string>
			<key>Version</key>
			<string>24507</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>Mercury</string>
			<key>Version</key>
			<string>67</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>Playgrounds</string>
			<key>Version</key>
			<string>11</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>LiveExecutionResultsLogger</string>
			<key>Version</key>
			<string>20101</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>JetsamProperties</string>
			<key>Version</key>
			<string>2648.0.21</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>GPUToolsDevice_DDI</string>
			<key>Version</key>
			<string>312.4</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>DTOCMock</string>
			<key>Version</key>
			<string>23002</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>DTDeveloperDiskImageSupport</string>
			<key>Version</key>
			<string>14.0.0</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>CoreDevice</string>
			<key>Version</key>
			<string>506.7</string>
		</dict>
		<dict>
			<key>Project</key>
			<string>Citrine</string>
			<key>Version</key>
			<string>1501</string>
		</dict>
	</array>
	<key>Variant</key>
	<string>Public</string>
</dict>
</plist>
