<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceMap</key>
	<array>
		<dict>
			<key>BDID</key>
			<integer>65535</integer>
			<key>BoardConfig</key>
			<string>xroscryptexap</string>
			<key>CPID</key>
			<integer>65296</integer>
			<key>Platform</key>
			<string>cryptex1</string>
			<key>SCEP</key>
			<integer>1</integer>
			<key>SDOM</key>
			<integer>65535</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>66</integer>
			<key>BoardConfig</key>
			<string>n301ap</string>
			<key>CPID</key>
			<integer>33042</integer>
			<key>Platform</key>
			<string>t8112</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ProductBuildVersion</key>
	<string>17A5285i</string>
	<key>ProductVersion</key>
	<string>1.0</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>1107329298</integer>
			<integer>1099494915856</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>1107329298</integer>
			<integer>1099494915856</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>RealityDevice14,1</string>
		<string>iSim1,1</string>
	</array>
	<key>SystemRestoreImageFileSystems</key>
	<dict/>
</dict>
</plist>
